Data Science Tools and Ecosystem

In this notebook we will have a summary about DS tools and Ecosystems

Some of the most popular languages that Data Scientints use are:
1. Python
2. R language
3. Java

Some of the common libraries for DS are:
1. Numpy
2. Pandas
3. Seaborn

| DS TOOLS | 
| -------------| 
| Google BigQuery |
| Power BI |
| Microsoft Azure |

### Also, you can find below a few examples of arithmetic expressions in Python:

5 + 5 = 10

2 * 4 = 8

In [9]:
(3*4)+5

 #This a simple arithmetic expression to mutiply then add integers

17

In [12]:
Minutes = 200

Hours = Minutes /60

print(Hours)


#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**

- List popular languages on Data Science

- Learn how to create a Notebook

- Apply general concepts from Python

Author

## Cristofer Villaran ##